table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    height: 120px;
    width: 143px; 
    color: #6B6B6B;
}
.day {
    width: 127px;
    height: 16px;
}
.event {
    width: 127px;
    height: 16px;
    padding: 5 0 5 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.singer {
    height: 56px; 
}
.blue {
  background-color: #C2E4FE;
}
.blue:hover {
    background-color:#27A1FF;
}
